<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <title>Confirm reset password email</title>
</head>
<body style="text-align: center;">
<h2>CAC DZ</h2>
<br>
<p><b>Bonjour, Vous recevez cet e-mail car vous avez demandé une réinitialisation de mot de passe pour votre compte utilisateur sur notre plateforme {{ site_name}}.</b></p>
<br>
<p> Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe : </p>
<p> {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} </p>
<p> Votre nom d'utilisateur, au cas où vous l'auriez oublié : {{ user.get_username }}</p>
<br>
<p> Ce message a été envoyé automatiquement. Merci de ne pas y répondre.</p>
<br>
<p><i> Cordialement, L'équipe {{ site_name }}</i></p> 

</body>
</html>

